.counterButton{
    font-size:40px;
    background-color: #00a5ab;
    width: 130px;
    margin:30px;
    color: white;
    padding: 10px;
    border-radius: 50px;
    border-color: black;
    border-width: 5px;
}

.count{
    font-size:100px;
    padding: 20px;
}

.totalCount
{
    color: #00a5ab;
    font-size:150px;
}

.resetButton
{
    font-size:30px;
    background-color: #4d0170;
    width: 300px;
    margin:30px;
    color: white;
    padding: 10px;
    border-radius: 50px;
    border-width: 2px;
}